.Button {
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    background-size: cover;
    background-image: url(../../img/popcorn.svg);
    transition: all .2s;
    cursor: pointer;
}

.Button:hover{
    transform: translateY(-4px);
}
.Button:active {
    transform: translateY(1px);
}

@media screen and (max-width: 600px) {
    .Button{
        width: 4rem;
        height: 4rem;
            
    }
}